# Investigating Movie Success

## Introduction
Cinema has become one of the highest profiting industries over the past century. The total box office revenue in North America alone amounted to $11.38 billion in 2016. With the possibility of great success, there is also a large risk of financial failure. This data exploration is motivated by answering the question what makes a movie successful. Specifically do higher budgets mean that a movie will be more profitable? Does the date of release affect the movies profit? Is the box office revenue for the opening weekend of a movie a good predictor of the profit of a movie? Answering these questions could save cinema production companies millions.

## Data Scraped, Downloaded & Cleaned
To begin the data investigation, a collection of movies will be needed to gather data on. To accomplish this, movie names will be scraped from the rotten tomatoes top 100 movies for each genre. There are 17 different genres listed, although some movies are listed in multiple genres, and not every genre contains a full list of 100 movies. In total, after eliminating duplicates, there will be 937 distinct movies collected. The collection of movie names will be biased towards more successful productions, although the large selection will resolve some of the bias introduced by the selection method.

In [1]:
# importing all libraries to be used throughout data exploration
import re, json, requests, seaborn, warnings
warnings.filterwarnings( 'ignore' )
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
from matplotlib import pyplot as plt, rcParams
%matplotlib inline
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from ipyparallel import Client
import time

In [3]:
df = pd.read_csv("Produced_Data/movies_10000.csv",encoding = 'utf8')
vals = ["Position","Const","Created","Modified","Description","Title Type"]
for val in vals:
    del df[val]
df = df[df["Title"]!="The Neon Demon"] # this movie is formatted differently giving a weird error
df1=df[:2000]
df2=df[2000:4000]
df3=df[4000:6000]
df4=df[6000:8000]
df5=df[8000:]
dfs = [df1,df2,df3,df4,df5]

In [4]:
def text_message(text,number):
    browser = webdriver.Chrome()
    url = "http://www.txtdrop.com/"
    browser.get( url )
    email = browser.find_element_by_id("emailfrom")
    email.send_keys("brookemosby@hotmail.com")
    first_3 = browser.find_element_by_id("npa")
    first_3.send_keys(number[:3])
    second_3 = browser.find_element_by_id("exchange")
    second_3.send_keys(number[3:6])
    last_4 = browser.find_element_by_id("number")
    last_4.send_keys(number[6:])
    message = browser.find_element_by_name("body")
    message.send_keys(text)
    browser.find_element_by_name("submit").click()
    browser.close()

In [119]:
#Gathering data from IMDB
browser = webdriver.Chrome()
def gather_data(row):
    #Function accepts a pd.Series representing a pd.DataFrame row, then 
    #changes the budget and opening weekend monetary amount to USD, and
    #returns the new updated pd.Series with the correct amounts.
    url = row[ 1 ]
    browser.get( url )
    soup = BeautifulSoup( browser.page_source, "html.parser" )
    time.sleep(10*np.random.random())
    # All information needed is contained in h4 tabs
    tab = soup.find_all( name = "h4" )
    B, O, G = False, False, False
    for j in tab:
        if j.text == "Budget:":
            row["Budget"] = ( " " ).join( j.next_sibling.split() )
            B = True
        if j.text == "Opening Weekend:":
            row["Opening Weekend"] = ( " " ).join( j.next_sibling.split( ) )
            O = True
        if "Gross" in j.text :
            row["Gross"] = ( " " ).join( j.next_sibling.split( ) ) 
            G = True
    span = soup.find_all( itemprop = "awards" )
    text = ""
    for j in span:
        text += " " + j.text
    text = text.split()
    if "nominations." in text  or "nomination." in text:
        row["Other Nominations"] = int(text[-2])
    else: row["Other Nominations"] = 0
    if "wins." in text:
        row["Other Wins"] = int(text[text.index("wins.")-1])
    elif "wins" in text:
        row["Other Wins"] = int(text[text.index("wins")-1])    
    elif "win." in text:
        row["Other Wins"] = int(text[text.index("win.")-1])
    elif "win" in text:
        row["Other Wins"] = int(text[text.index("win")-1])
    else: row["Other Wins"] = 0
    if "Oscar." in text or "Oscars." in text:
        if "Nominated" in text:
            row["Oscar Nominations"] = int(text[2])
            row["Oscar Wins"] = 0
        else:
            row["Oscar Wins"] = int(text[1])
            row["Oscar Nominations"] = 0
    else:
        row["Oscar Wins"] = 0
        row["Oscar Nominations"] = 0

    # Inserting NaNs for missing values
    if not B: row["Budget"] = np.nan
    if not O: row["Opening Weekend"] = np.nan
    if not G: row["Gross"] = np.nan
    try: row["Meta Score"] = int(soup.find( "div",{"class":"metacriticScore"} ).text)
    except: row["Meta Score"] = np.nan
    try: row["Content Rating"] = soup.find( itemprop = "contentRating" )["content"]
    except:
        try: row["Content Rating"] = soup.find( itemprop = "contentRating" )["certificate"]
        except: row["Content Rating"] = "NR"

    actors = soup.find_all( "span",itemprop = "name" )
    actors =[ actor.text for actor in actors][:10]
    for i in range(10):
        try: row["Actor_"+str(i)] = actors[i]
        except: row["Actor_"+str(i)] = "NA"
    return row
df5 = df5[df5["Title"]!='Chi-Raq']
df1 = df5.apply(gather_data,axis=1)
browser.close()
text_message("Finished","6787995970")

In [120]:
df1.to_csv("Result_Data/fifth_2000_uncleaned.csv")

In [162]:
df1 = pd.read_csv("Result_Data/first_2000_uncleaned.csv")
df2 = pd.read_csv("Result_Data/second_2000_uncleaned.csv")
df3 = pd.read_csv("Result_Data/third_2000_uncleaned.csv")
df4 = pd.read_csv("Result_Data/fourth_2000_uncleaned.csv")
df5 = pd.read_csv("Result_Data/fifth_2000_uncleaned.csv")

In [163]:
df1 = pd.concat([df1,df2,df3,df4,df5], ignore_index=True)

In [164]:
df1.sample(5)

,Unnamed: 0,Actor_0,Actor_1,Actor_2,Actor_3,Actor_4,Actor_5,Actor_6,Actor_7,Actor_8,...,Opening Weekend,Oscar Nominations,Oscar Wins,Other Nominations,Other Wins,Release Date,Runtime (mins),Title,URL,Year
4259,4260,J. Lee Thompson,John D. MacDonald,James R. Webb,Gregory Peck,Robert Mitchum,Polly Bergen,Gregory Peck,Robert Mitchum,Polly Bergen,...,NaN,0,0,0,0,1962-04-12,106.0,Cape Fear,http://www.imdb.com/title/tt0055824/,1962
3091,3092,David Anspaugh,Angelo Pizzo,Gene Hackman,Barbara Hershey,Dennis Hopper,Gene Hackman,Barbara Hershey,Dennis Hopper,Sheb Wooley,...,NaN,2,0,3,3,1986-11-10,114.0,Hoosiers,http://www.imdb.com/title/tt0091217/,1986
5904,5905,Xavier Dolan,Xavier Dolan,Melvil Poupaud,Emmanuel Schwartz,Suzanne Clément,Melvil Poupaud,Suzanne Clément,Nathalie Baye,Monia Chokri,...,"CAD 79,171 (Canada),",0,0,51,20,2012-05-18,168.0,Laurence Anyways,http://www.imdb.com/title/tt1650048/,2012
6441,6442,William Lustig,Larry Cohen,Tom Atkins,Bruce Campbell,Laurene Landon,Tom Atkins,Bruce Campbell,Laurene Landon,Richard Roundtree,...,NaN,0,0,0,0,1988-03-01,85.0,Maniac Cop,http://www.imdb.com/title/tt0095583/,1988
6223,6224,Rod Hardy,Ronald Kinnoch,Michael Noonan,Daniel Radcliffe,Teresa Palmer,Lee Cormie,Daniel Radcliffe,Lee Cormie,Christian Byers,...,NaN,0,0,0,2,2007-09-09,105.0,December Boys,http://www.imdb.com/title/tt0465436/,2007

In [165]:
df1.columns

Index(['Unnamed: 0', 'Actor_0', 'Actor_1', 'Actor_2', 'Actor_3', 'Actor_4',
       'Actor_5', 'Actor_6', 'Actor_7', 'Actor_8', 'Actor_9', 'Budget',
       'Content Rating', 'Directors', 'Genres', 'Gross', 'IMDb Rating',
       'Meta Score', 'Num Votes', 'Opening Weekend', 'Oscar Nominations',
       'Oscar Wins', 'Other Nominations', 'Other Wins', 'Release Date',
       'Runtime (mins)', 'Title', 'URL', 'Year'],
      dtype='object')

In [166]:
genres = set()
for g_l in df1['Genres']:
    for genre in g_l.split(','):
        genres.add(genre)
genres = list(genres)
def genre_bool(row):
    for genre in genres:
        if genre in row['Genres']:
            row["Genre: " +genre]=1
        else:
            row["Genre: " +genre]=0
    return row
df1 = df1.apply(genre_bool, axis = 1)
del df1['Genres']

ratings = set()
for r in df1['Content Rating']:
    ratings.add(r)
ratings = list(ratings)
def rating_bool(row):
    for rating in ratings:
        if rating == row['Content Rating']:
            row["Content Rating: "+rating]=1
        else:
            row["Content Rating: "+rating]=0
    return row

df1 = df1.apply(rating_bool, axis = 1)
del df1['Content Rating']
df1.head()

,Unnamed: 0,Actor_0,Actor_1,Actor_2,Actor_3,Actor_4,Actor_5,Actor_6,Actor_7,Actor_8,...,Content Rating: PG-13,Content Rating: G,Content Rating: NR,Content Rating: APPROVED,Content Rating: UNRATED,Content Rating: M/PG,Content Rating: TV-13,Content Rating: NOT RATED,Content Rating: TV-G,Content Rating: R
0,0,Frank Darabont,Stephen King,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,Tim Robbins,Morgan Freeman,Bob Gunton,...,0,0,0,0,0,0,0,0,0,1
1,1,Christopher Nolan,Jonathan Nolan,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Christian Bale,Heath Ledger,Aaron Eckhart,...,1,0,0,0,0,0,0,0,0,0
2,2,Christopher Nolan,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Ellen Page,Leonardo DiCaprio,Joseph Gordon-Levitt,Ellen Page,Tom Hardy,...,1,0,0,0,0,0,0,0,0,0
3,3,David Fincher,Chuck Palahniuk,Jim Uhls,Brad Pitt,Edward Norton,Meat Loaf,Edward Norton,Brad Pitt,Meat Loaf,...,0,0,0,0,0,0,0,0,0,1
4,4,Quentin Tarantino,Quentin Tarantino,Roger Avary,John Travolta,Uma Thurman,Samuel L. Jackson,Tim Roth,Amanda Plummer,Laura Lovelace,...,0,0,0,0,0,0,0,0,0,1

In [167]:
del df1["Unnamed: 0"]
del df1["URL"]

In [168]:
columns = df1.columns
for i, col in enumerate(df1.columns):
    print(i, col)

0 Actor_0
1 Actor_1
2 Actor_2
3 Actor_3
4 Actor_4
5 Actor_5
6 Actor_6
7 Actor_7
8 Actor_8
9 Actor_9
10 Budget
11 Directors
12 Gross
13 IMDb Rating
14 Meta Score
15 Num Votes
16 Opening Weekend
17 Oscar Nominations
18 Oscar Wins
19 Other Nominations
20 Other Wins
21 Release Date
22 Runtime (mins)
23 Title
24 Year
25 Genre: Short
26 Genre:  Comedy
27 Genre: Fantasy
28 Genre: Film-Noir
29 Genre: War
30 Genre: Musical
31 Genre:  Sport
32 Genre: Biography
33 Genre: Action
34 Genre:  Fantasy
35 Genre:  Animation
36 Genre:  Biography
37 Genre: Mystery
38 Genre:  Musical
39 Genre:  Romance
40 Genre: Thriller
41 Genre:  Film-Noir
42 Genre:  History
43 Genre: Western
44 Genre: Drama
45 Genre: Sci-Fi
46 Genre:  Horror
47 Genre: Romance
48 Genre: Adventure
49 Genre:  Family
50 Genre:  Sci-Fi
51 Genre: Animation
52 Genre:  Music
53 Genre: Music
54 Genre: History
55 Genre:  Mystery
56 Genre:  Thriller
57 Genre: Comedy
58 Genre:  Crime
59 Genre: Horror
60 Genre:  Drama
61 Genre:  War
62 Genre:  Western
63 Genre:  Adventure
64 Genre: Family
65 Genre:  Action
66 Genre: Crime
67 Content Rating: PASSED
68 Content Rating: TV-MA
69 Content Rating: X
70 Content Rating: NC-17
71 Content Rating: TV-14
72 Content Rating: M
73 Content Rating: GP
74 Content Rating: TV-PG
75 Content Rating: PG
76 Content Rating: PG-13
77 Content Rating: G
78 Content Rating: NR
79 Content Rating: APPROVED
80 Content Rating: UNRATED
81 Content Rating: M/PG
82 Content Rating: TV-13
83 Content Rating: NOT RATED
84 Content Rating: TV-G
85 Content Rating: R

### Gathering Monetary Information on Each Movie
After accumulating movie names, motion picture content rating, and the rotten tomatoes score, the dataset is still missing information on the movie budget, opening weekend revenue, and gross income, which will provide the numerical data points necessary to understand the factors that make a movie successful. The data points will be collected from IMDB, which is a reputable source for information, according to their website, 

>"we [IMDB] actively gather information from and verify items with studios and 
filmmakers".

While collecting the data points, it will be convient and valuable to find the release date of the movie and add to the dataset.

### Uncleaned Dataset

## Cleaning Data
After gathering each data point, the data set is complete, although the information is not clean or uniform. The first step to clean up the names and release dates, will be to remove any phrases in parenthesis across the rows of the DataFrame. Following the removal of parenthesis, will be the removal of all commas across each column in the DataFrame. Removing commas will make it easier to convert monetary amounts to ints. Next each date in the Release column will be changed to a pandas date object, which will simplify any calculations that rely on the release date of the movie. Finally each monetary amount will be converted into an int, while creating place holder columns for the currency type of the budget and opening weekend revenue. The gross income column of the movie DataFrame is listed in USD solely, so this value will not need a place holder column for it. The dataset is now cleaned, although the information is not given in uniform units, which will need to be addressed.

In [169]:
def remove_parenthesis( row ):
    """
    Function accepts a pd.Series describing a row of a DataFrame. For each 
    value in the row the string before the first opening parenthesis becomes 
    the new value. The new pd.Series of the row is returned, without any 
    phrases in parenthesis.
    """
    row = [ str( value ).split( "(" )[ 0 ] for value in row ]
    return pd.Series( row )
def remove_comma( row ):
    """
    Function accepts a pd.Series describing a row of a DataFrame. For each 
    value in the row the string is split by commas, then joined without 
    them. The new pd.Series of the row is returned, without commas.
    """
    row = [ ( "" ).join( str( value ).split( "," ) ) for value in row ]
    return pd.Series( row )
def _type( currency ):
    """
    Function accepts a value representing a monetary amount. If the value 
    is a string "nan", then np.nan is returned. If the monetary amount split
    by spaces has length greater than one, then this implies that there is a 
    string, such as AUD, before the monetary amount, this currency indicator 
    will be returned. If the monetary amount split by spaces only consist of 
    one item, that implies a symbol, such as $ is before the monetary amount. 
    This currency indicator will be returned.
    """
    if currency == np.nan:
        return np.nan
    currency_indicator = currency.split()
    if len( currency_indicator ) > 1:
        return currency_indicator[ 0 ]
    else:
        return currency[ 0 ]
def _int( currency ):
    """
    Function accepts a value representing a monetary amount. If the value is 
    a string "nan", then np.nan is returned. If the monetary amount split by
    spaces has length greater than one, then this implies that there is a 
    string, such as AUD, before the monetary amount, the monetary amount 
    after the currency indicator will be returned as an int. If the monetary 
    amount split by spaces only consist of one item, that implies a symbol,
    such as $ is before the monetary amount. The monetary amount after the 
    currency indicator will be returned as an int.
    """
    if currency == "nan":
        return np.nan
    currency_amount = currency.split()
    if len( currency_amount ) > 1:
        return int( currency_amount[ 1 ] )
    else:
        return int( currency[ 1: ] )
    
df1      = df1.apply( remove_parenthesis, axis = 1 )
df1      = df1.apply( remove_comma,       axis = 1 )
df1[21] = df1[21].apply( lambda x: pd.to_datetime( str( x ), errors='coerce' ) )
df1[24] = df1[24].apply( lambda x: pd.to_datetime( str( x ), errors='coerce' ) )
df1[86] = df1[10].apply( _type )
df1[87] = df1[16].apply( _type )
df1[10] = df1[10].apply( _int  ) #
df1[12] = df1[12].apply( _int  ) #
df1[16] = df1[16].apply( _int  ) #
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,78,79,80,81,82,83,84,85,86,87
0,Frank Darabont,Stephen King,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,...,0,0,0,0,0,0,0,1,$,n
1,Christopher Nolan,Jonathan Nolan,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,...,0,0,0,0,0,0,0,0,$,n
2,Christopher Nolan,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Ellen Page,Leonardo DiCaprio,Joseph Gordon-Levitt,Ellen Page,Tom Hardy,Ken Watanabe,...,0,0,0,0,0,0,0,0,$,n
3,David Fincher,Chuck Palahniuk,Jim Uhls,Brad Pitt,Edward Norton,Meat Loaf,Edward Norton,Brad Pitt,Meat Loaf,Zach Grenier,...,0,0,0,0,0,0,0,1,$,n
4,Quentin Tarantino,Quentin Tarantino,Roger Avary,John Travolta,Uma Thurman,Samuel L. Jackson,Tim Roth,Amanda Plummer,Laura Lovelace,John Travolta,...,0,0,0,0,0,0,0,1,$,n

### Converting Currency to USD
The next step in unifying the currency units is to convert all monetary amounts into USD. Converting each column to USD will make comparisons valid, and is accomplished by using a dataset which contains the exchange rates for 26 different currencies to USD, for dates throughout the past century. For currencies not listed in USD, the release date of the movie will be used to find the accurate exchange rate to USD, after which the currency will be converted to USD. Once the conversations are calculated, the place holder columns describing the original currency are dropped, resulting in a clean and uniform dataset.

In [170]:
e_r_columns = [ "Dates",   "€",   "£",  "BRL", "CNY", "DKK", "INR", "JPY", 
                  "KRW", "MYR", "MXN",  "NOK", "SEK", "ZAR", "SGD", "CHF", 
                  "TWD", "THB", "VEB", "NBDI", "NMC", "NOI", "AUD", "NZD", 
                  "CAD", "HKD", "LKR" ]
exchange_rates = pd.read_csv( "Produced_Data/exchange_rates.csv", 
                             skiprows = [ 0, 1, 2, 4, 5, 6 ] )
exchange_rates.columns = e_r_columns
exchange_rates[ "Dates" ] = exchange_rates[ "Dates" ].apply( 
    lambda x: pd.to_datetime( str( x ) ) )

def change_to_USD(row):
    """
    Function accepts a pd.Series representing a pd.DataFrame row, then 
    changes the budget and opening weekend monetary amount to USD, and
    returns the new updated pd.Series with the correct amounts.
    """
    date = row[21]
    foreign_budget = row[10]
    foreign_open   = row[16]
    indicator_budget = row[86]
    indicator_open   = row[87]
    
    if indicator_budget != "$" and indicator_budget != "nan":
        try:
            cur_rate = exchange_rates[ indicator_budget ][ 
                exchange_rates[ "Dates" ] == date ].values[ 0 ]
            row[10] = int( foreign_budget ) / float( cur_rate )
        except:
            row[10] = np.nan
    if indicator_open   != "$" and indicator_open   != "nan":
        try:
            cur_rate = exchange_rates[ indicator_open   ][ 
                exchange_rates[ "Dates" ] == date ].values[ 0 ]
            row[16] = int( foreign_open )  / float( cur_rate )
        except:
            row[16] = np.nan
    return row

df1 = df1.apply( change_to_USD, axis = 1 )

# Delete currency indicator columns
del df1[86], df1[87]
df1.columns = columns
df1.sample( 3 )

,Actor_0,Actor_1,Actor_2,Actor_3,Actor_4,Actor_5,Actor_6,Actor_7,Actor_8,Actor_9,...,Content Rating: PG-13,Content Rating: G,Content Rating: NR,Content Rating: APPROVED,Content Rating: UNRATED,Content Rating: M/PG,Content Rating: TV-13,Content Rating: NOT RATED,Content Rating: TV-G,Content Rating: R
9643,Wes Craven,Diana Henstell,Bruce Joel Rubin,Matthew Labyorteaux,Kristy Swanson,Michael Sharrett,Matthew Labyorteaux,Kristy Swanson,Michael Sharrett,Anne Twomey,...,0,0,0,0,0,0,0,0,0,1
5372,Patrice Chéreau,Alexandre Dumas,Danièle Thompson,Isabelle Adjani,Daniel Auteuil,Jean-Hugues Anglade,Isabelle Adjani,Daniel Auteuil,Jean-Hugues Anglade,Vincent Perez,...,0,0,0,0,0,0,0,0,0,1
8816,Howard Hawks,Charles Lederer,Leonard Spigelgass,Cary Grant,Ann Sheridan,Marion Marshall,Cary Grant,Ann Sheridan,Marion Marshall,Randy Stuart,...,0,0,0,1,0,0,0,0,0,0

In [171]:
df1.head()

,Actor_0,Actor_1,Actor_2,Actor_3,Actor_4,Actor_5,Actor_6,Actor_7,Actor_8,Actor_9,...,Content Rating: PG-13,Content Rating: G,Content Rating: NR,Content Rating: APPROVED,Content Rating: UNRATED,Content Rating: M/PG,Content Rating: TV-13,Content Rating: NOT RATED,Content Rating: TV-G,Content Rating: R
0,Frank Darabont,Stephen King,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,...,0,0,0,0,0,0,0,0,0,1
1,Christopher Nolan,Jonathan Nolan,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,...,1,0,0,0,0,0,0,0,0,0
2,Christopher Nolan,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Ellen Page,Leonardo DiCaprio,Joseph Gordon-Levitt,Ellen Page,Tom Hardy,Ken Watanabe,...,1,0,0,0,0,0,0,0,0,0
3,David Fincher,Chuck Palahniuk,Jim Uhls,Brad Pitt,Edward Norton,Meat Loaf,Edward Norton,Brad Pitt,Meat Loaf,Zach Grenier,...,0,0,0,0,0,0,0,0,0,1
4,Quentin Tarantino,Quentin Tarantino,Roger Avary,John Travolta,Uma Thurman,Samuel L. Jackson,Tim Roth,Amanda Plummer,Laura Lovelace,John Travolta,...,0,0,0,0,0,0,0,0,0,1

In [172]:
df1.to_csv( "Result_Data/total_cleaned.csv" )

## Feature Engineering
Some adjustments to the dataset will be needed in order to better understand the data. First it will be beneficial to create a column corresponding to the decades of the movies' release date. A column that identifies the profit of the movie will be crucial in determining the financial success of the movie. To create a Profit column, the budget of the movie will be subtracted from the gross income. Finally, there is one remaining issue to be addressed. Because the movies in the dataset span the past century the monetary amounts are not adjusted for inflation, making them difficult to compare directly. To resolve the disagreement between the monetary amounts, a dataset containing the CPI for each year from 1914 will used to adjust for inflation. The CPI, Consumer Price Index, describes the amount of purchasing power the average consumer has. To account for inflation, the current CPI is divided by the CPI of the year when the movie was released to obtain a ratio of purchasing power. The monetary amounts are multiplied by this ratio, resulting in a new monetary amount corresponding to the approximate amount with today's purchasing power. The budget, opening weekend revenue, gross income, and profit of each movie will be adjusted for inflation, and placed into new columns. With the adjusted inflation columns, relationships between variables may become more apparent.

In [182]:
df1=df1.drop(9433)

In [183]:
# Calculating the decade for the release date
df1[ "Decade" ] = df1[ "Release Date" ].apply( lambda x: ( ( x.year % 1900 ) // 10 ) * 10 + 1900  ) 
df1[ "Profit" ] = df1[ "Gross" ] - df1[ "Budget" ]

# Adjusting for inflation
inflation_rates = pd.read_csv( "Produced_Data/inflation_rates.csv", index_col = "Year")
current_CPI = float( inflation_rates[ "November" ].iloc[-1] )
def change_to_current(row):
    """
    Function accepts pd.Series describing a row in pd.DataFrame
    Then creates new columns adjusting for inflation by multiplying by CPI ratio
    Function returns new pd.Series describing row in pd.DataFrame
    """
    year_release  = row[ "Release Date" ].year
    month_release = row[ "Release Date" ].month - 1
    value_CPI = float( inflation_rates.loc[ year_release ][ 12 ] )
    if value_CPI == 0 :
        row[ "Budget_Adjusted" ], row[ "Gross_Adjusted"  ] = np.nan, np.nan
        row[ "Open_Adjusted"   ], row[ "Profit_Adjusted" ] = np.nan, np.nan
    else:
        row[ "Budget_Adjusted" ] = row[ "Budget" ] * current_CPI / value_CPI
        row[ "Gross_Adjusted"  ] = row[ "Gross"  ] * current_CPI / value_CPI
        row[ "Open_Adjusted"   ] = row[ "Opening Weekend"   ] * current_CPI / value_CPI
        row[ "Profit_Adjusted" ] = row[ "Profit" ] * current_CPI / value_CPI
    return row
df1 = df1.apply( change_to_current, axis = 1 )
df1.head(3)

TypeError: ("cannot do label indexing on <class 'pandas.core.indexes.numeric.Int64Index'> with these indexers [nan] of <class 'float'>", 'occurred at index 9625')

In [138]:
df1.to_csv( "Result_Data/fifth_2000_engineered.csv" )

## Visualizing Data
The next step to understanding relationships between different variables is visualizing the data. The first step is to investigate how the data has changed over the past century, and compare the change between variables, which may give some insight into relationships between variables.

In [ ]:
plt.figure( figsize = ( 17, 8 ) )
ax4      = plt.subplot( 414 )
ax1, ax2 = plt.subplot( 411, sharex = ax4 ), plt.subplot( 412, sharex = ax4 )
ax3      = plt.subplot( 413, sharex = ax4 )
df.plot( y = "Gross",  x = "Release", ax = ax1, title = "Gross by Release Date" )
df.plot( y = "Budget", x = "Release", ax = ax2, title = "Budget by Release Date" )
df.plot( y = "Open",   x = "Release", ax = ax3, title = "Opening Weekend by Release Date" )
df.plot( y = "Profit", x = "Release", ax = ax4, title = "Profit by Release Date" )
plt.show()

After observing the graph above, it is apparrent there has been an exponential increase in movie budgets, opening weekend revenues, gross income and profit. It is still unclear how much of this increase is due to inflation over time. Investigating how inflation has changed these four variables is the next rational step.

In [ ]:
plt.figure( figsize = ( 17, 8 ) )
ax4      = plt.subplot( 414 )
ax1, ax2 = plt.subplot( 411, sharex = ax4 ), plt.subplot( 412, sharex = ax4 )
ax3      = plt.subplot( 413, sharex = ax4 )
df.plot( y = "Gross_Adjusted",  x = "Release", ax = ax1, 
        title = "Inflation Adjusted Gross by Release Date" )
df.plot( y = "Budget_Adjusted", x = "Release", ax = ax2, 
        title = "Inflation Adjusted Budget by Release Date" )
df.plot( y = "Open_Adjusted",   x = "Release", ax = ax3, 
        title = "Inflation Adjusted Opening Weekend by Release Date" )
df.plot( y = "Profit_Adjusted", x = "Release", ax = ax4, 
        title = "Inflation Adjusted Profit by Release Date" )
plt.show()

Looking at the variables in the graphs above, it looks as though the the gross income and profit have decreased over time, while the opening weekend revenue and budget have increased over time. It is important to note that there are significantly more movies released in later decades, as demonstrated in the histogram below.

In [ ]:
df["Decade"].hist( figsize = ( 17, 2 ) )
plt.show()

It is interesting to note that the movie with the highest adjusted budget was Titanic, the movie with the highest opening weekend revenue was Harry Potter and the Deathly Hallows - Part 2 and the movie with both the highest gross income and profit was Gone with the Wind. After looking at how the monetary variables are distributed over the past century, it seems reasonable to investigate how the variables are correlated.

In [ ]:
plt.figure( figsize = ( 17,3 ) )
seaborn.heatmap( df[["Decade", "Budget_Adjusted", "Gross_Adjusted", "Open_Adjusted", 
                     "Profit_Adjusted"]].corr(), annot = True, fmt = ".001f" )
plt.show()

The heatmap above gives the strengths of the correlations coefficients, on a scale of -1.0 to 1.0. 1.0 is perfectly positively correlated, and -1.0 is perfectly negatively correlated, meaning each variable will positively correlate to itself perfectly. The heatmap gives some interesting relationships between variables. There were no strong correlations between the unadjusted variables, and thus were excluded from the heatmap above. The first relationship worth notice, is that the later in the century a movie was produced, the worse the adjusted profit and adjusted gross income of the movie would be. A second relationship that needs investigation is the perfect positive correlation between the adjusted gross and the adjusted profit. Since the adjusted profit is calculated from the adjusted gross income, it is reasonable that they would be strongly positively correlated, although extremely unlikely that this would be a perfect relationship. The correlation coefficient for the relationship between the adjusted gross income and the adjusted profit is 0.978601533586, which is strongly positive, although not perfect, as the rounded number in the heatmap would suggest. It is interesting to note that from this heatmap, it seems as though the adjusted budget has little correlation to the adjusted profit. The relationships between the adjusted profit for a movie, and the adjusted budget, adjusted gross income, and adjusted opening weekend revenue still need to be investigated. There may be some intuition to gain from looking at the linear regression for each relationship, which would be the next step in the data exploration.

In [ ]:
plt.figure( figsize = ( 17,3 ) )
ax1 = plt.subplot( 131 )
ax2, ax3 = plt.subplot( 132, sharey = ax1 ), plt.subplot( 133, sharey = ax1 )
seaborn.regplot( x = "Budget_Adjusted", y ="Profit_Adjusted", ax = ax1, data = df ) 
seaborn.regplot( x = "Open_Adjusted",   y ="Profit_Adjusted", ax = ax2, data = df ) 
seaborn.regplot( x = "Gross_Adjusted",  y ="Profit_Adjusted", ax = ax3, data = df ) 
plt.show()

From the graphs above, it is clear that the gross income is the best estimator for the profit, mainly because profit is calculated from the gross income. However the gross income is only useful to estimate the profit, if the variable for the budget is not available. The second best variable for predicting the profit is the opening weekend revenue. The opening weekend revenue may be a more useful predictor for profit than the gross income, because it can give insight into what the profit of a movie may be before it leaves theaters. It is interesting that there is almost no correlation between the budget of a movie, and the profit the movie makes.

In [ ]:
df[["Budget_Adjusted","Open_Adjusted","Gross_Adjusted","Profit_Adjusted"]].plot( 
    kind = "kde", colormap='Set1', figsize = (17,5) )
plt.xlim(-.5e8,1e8)
plt.show()

Looking at the distributions above we can see that there is a large variance between the adjusted gross income and the adjusted profit, with almost not peak. Whereas, the adjusted budget and the adjusted open weekend revenue are less varied distributions. The adjusted budget has little or no correlation to the adjusted profit, which suggests that the regardless of the budget of a movie, there is still a high risk to lose alot of money.

## Conclusion
Unfortunately there does not seem to be a large correlation between the budget of a movie, and the profit of the production. This suggests that spending large amounts of money on a movie production does not necessarily pay off.  After looking into all the dataset variables, there was little information to be gained from the motion picture content rating, the rotten tomatoes score, and the unadjusted monetary amounts. One of the most useful predictors for the profit of a movie seems to be the opening weekend revenue, which is intuitive. A larger dataset of movies could present more correlations, due to time constraints this dataset was limited to ~1000 movie titles.  More information that could be used as predictors for the profit of a movie would be money and time spent into marketing the movie, and the amount of different trailers released. These variables may play a larger role and factor into what makes a movie more profitable and successfull. Also, collecting information on DVD sales once the movie left the theater could give more insight into just how profitable, or successful the movie was.